body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://orsted.com/-/media/WWW/Images/Corp/Campaign/SpaceSafari/space-safari-background.png');
  background-size: cover;
}
